html {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  padding: 20px;
  color: #244751;
  background-color: #eee;
  min-height: 100%;
}

main.container {
  position: relative;
  top: 0px;
  width: 450px;
  min-height: 100%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
}

/*
 * Saved tweets styling
 */

/* Saved tweet box */
article.tweet {
  width: 400px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 1px solid grey;
  opacity: 0.6;
}

/* Make saved tweet stand-out when hovering */
article.tweet:hover {
  opacity: 1;
}

/* Tweet header - User avatar, name, and username */
article.tweet .tweet-header {
  background-color: #eee;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

/* Tweet header - User avatar and name */
article.tweet h2 {
  margin: 0px;
}

/* Tweet header - User avatar */
article.tweet .tweet-header .profile-pics {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 8px;
  border-radius: 5px;
  border: 1px solid #C0C0C0;
}

/* Tweet header - Username */
article.tweet .tweeter-user {
  margin: 5px;
  font-size: 14px;
  opacity: 0.6;
}


/* Tweet content */
article.tweet .content {
  padding: 8px;
  word-break: break-word;
}

/* Tweet footer - time since post & social media links */
article.tweet .tweet-footer {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px black;
  border-top: 1px solid grey;
  font-size: 10px;
}

/* social media links (grouped) */
.social-links {
  font-size: 14px;
  opacity: 0;
}

/* social media links (individual) */
.social-links i {
  margin-right: 3px;
}

/* social media links - appear only when hovered */
article.tweet:hover .social-links{
  opacity: 1;
  color: #40E0D0;
}