/* Navigation bar - general styling */
#nav-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    height: 80px;
    width: 100vw;
    background-color: #00a087;
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    justify-content: space-between;
}

/* Tweeter logo */
#nav-bar .logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

/* Page name (Tweeter) */
#nav-bar .header {
    font-size: 2em;
    display: flex;
    align-items: center;
    color: #e8fdff;
}

/* Compose button */
#nav-bar #compose-button {
    color: #00a087;
    padding: 14px 18px 18px;
    margin: 10px 0px;
    border-radius: 5px;
}

/* Page name (Tweeter) & logo */
#nav-bar #page-name {
    display: flex;
    justify-content: flex-start;
}