/* New tweet box */
.new-tweet {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: #C0C0C0;
  display: none;
}

/* New tweet box header */
.new-tweet h2 {
  margin: 20px 8px 14px;
  border-bottom: 2px solid #244751;
}

/* New tweet box - invalid tweet error messages */
.new-tweet h5 {
  color: red;
  margin: 10px;
}

/* New tweet box - enter tweet box */
textarea {
  width: 96%;
  height: 60px;
  margin: 2px 8px;
}

/* Submit buttom and counter */
.new-tweet .footer-newTweet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 8px 24px;
}

/* New tweet box - "submit" tweet button */
input {
  height: 30px;
}

